/*=============== THEME ===============*/
.nav__buttons{
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.change-theme{
	font-size: 1.25rem;
	color: var(--title-color);
	cursor: pointer;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
	--first-color: hsl(140, 30%, 45%);
   --first-color-alt: hsl(140, 30%, 40%);
   --title-color: hsl(140, 4%, 90%);
   --text-color: hsl(140, 4%, 70%);
   --body-color: hsl(0, 0%, 10%);
   --container-color: hsl(0, 0%, 14%);
	--shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, .6));
	--filter-img: initial;
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme{
	& :is(.shadow-header, .nav__menu, .scrollup){
		box-shadow: 0 2px 16px hsla(0, 0%, 0%, .3);
	}
	& .scrollup{
		background-color: var(--container-color);
	}
	&::-webkit-scrollbar{
		background-color: hsl(0, 0%, 15%);

		&-thumb{
			background-color: hsl(0, 0%, 30%);

			&:hover{
				background-color: hsl(0, 0%, 40%);
			}
		}
	}
}
